<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update member</h1>

<form action="updaterecord/{{ mymember.id }}" method="post">
{% csrf_token %}
userName:<br>
<input name="four" value="{{ mymember.username }}">
<br><br>
First Name:<br>
<input name="first" value="{{ mymember.first_name }}">
<br><br>
Last Name:<br>
<input name="last" value="{{ mymember.last_name }}">
<br><br>
Email:<br>
<input name="third" value="{{ mymember.email }}">
<br><br>

<input type="submit" value="Submit">
</form>
</body>
</html>